body{
background-color: rgb(235, 183, 231);
padding: 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
               Roboto, Helvetica, Arial, sans-serif;
}

.corpo{
background-color: aliceblue;
max-width: 990px;
max-height: 300;
margin: 30px auto;
padding: 30px;
border-radius: 35px;
box-shadow: 0 12px 30px rgb(203, 42, 176);
}

h1{
    color: rgb(133, 34, 199);
    text-align: center;
}

h2{
    color: rgb(65, 27, 101);
    text-align: center;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.caixa{
    background-color: rgba(212, 104, 244, 0.34);
    border-radius: 30px;
    padding: 10px;
    margin: 3px ;
}

.imagem {
    width: 320px;
    height: auto;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
}
.imagem:hover {
  transform: scale(2.04);
}
.caixa:hover {
  transform: scale(1.04);
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

.corpo h1 {
  animation: pulse 0.5s infinite;
}